script(src='nav-bar.js')
div#nav-bar
  a(class='button' href='config') Config
  if currentConfig
    span
      b #{currentConfig} &nbsp;&nbsp;&nbsp;
    a(class='button' href='session/login?redirect_uri=/') Login
    a(class='button' href='session/refresh') Refresh
    a(class='button' onclick='javascript:clickMenu("session")') Session
    a(class='button' onclick='javascript:clickMenu("accessToken")') Access Token
    a(class='button' onclick='javascript:clickMenu("idToken")') ID Token
    a(class='button' onclick='javascript:clickMenu("refreshToken")') Refresh Token
    a(class='button' onclick='javascript:clickMenu("userInfo")') User Info
    a(class='button' href='session/logout') Logout