doctype=html
html
  include includes/head.pug
  body
    include includes/navbar.pug
    h2 Error reported
    div#error
      b #{message || (query?query.message:"no message")}
      div #{query?query.details:""}