doctype=html
html
  include includes/head.pug
  body
    include includes/navbar.pug
    script(src='home.js')
    unless currentConfig 
      script window.location.href="config"
    div#content
      pre#content-code