.button {
  color: black;
  border: 1px solid blue;
  border-style: solid;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 3px;
  flex-direction: column;
  text-decoration: none;
  text-decoration-color: black;
}

.button:hover {
  background-color: aqua;
}

.button:visited {
  color: initial;
}

#nav-bar {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#left-nav {
  width: fit-content;
  height: -webkit-fill-available;
  border-right: 2px solid black;
  margin-right: 10px;
  float: left;
  display: flex;
  flex-direction: column;
}

#content {
  width: 100%;
}

form span {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  width: 180px;
}

form input[type=text] {
  width: 500px;
}

.action {
  width: 50px;
  margin-right: 10px;
  border-radius: 0px;
  background-color: aliceblue;
}
.action:hover {
  background-color: lightgreen;
}

#currentConfig {
  display: none;
}

#content-title {
  font-weight: 200;
  font-size: large;
}

#error {
  font-size: large;
  color: red;
}